
.vs/
.git/
compile/
bin/
bin-int/
*.vcxproj
*sln
*filters
*user
*.ini
*.pbxproj

# MacOS specific
*.DS_Store
*.xcodeproj
*.xcworkspace

# Profiling
Sandbox/SolusProfile-Runtime.json
Sandbox/SolusProfile-Shutdown.json
Sandbox/SolusProfile-Startup.json

# Log files
*.log
