[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Solus/vendor/spdlog"]
	path = Solus/vendor/spdlog
	url = https://github.com/gabime/spdlog
